*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

.navigation{
    position: relative;
    width: 75px;
    height: 75px;
    background: #303030;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.8s;
}

.navigation.ativar{
    width: 210px;
    height: 210px;
    transition-delay: 0s;
}

.navigation span{
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)),calc(12px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.navigation.ativar span{
    width: 50px;
    height: 50px;
    background: #5e5e5e;
    transform: translate(calc(70px * var(--x)),calc(70px * var(--y)));
}

.navigation span ion-icon{
    transition: 0.5s;
    font-size: 0em;
}

.navigation.ativar span ion-icon{
    font-size: 1.35em;
    color: #fff;
}

.navigation.ativar span:hover ion-icon{
    color: #fc2d37;
    filter: drop-shadow(0 0 2px #fc2d37) drop-shadow(0 0 5px #fc2d37) drop-shadow(0 0 15px #fc2d37);
}